@model BuscarAyLViewModel

<div class="row">
    <div class="col-7">
    </div>
    <form class="d-flex col-5 justify-content-md-end" asp-action="Listar">
        <input asp-for="BuscarNombre" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
</div>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lista De Libros</title>
</head>
<body>
    <form class="d-flex float-end" asp-action="Formulario" method="get">
        <button class="btn btn-outline-success mb-2 " type="submit">Crear Libro</button>
    </form>
    <div class="text-center p-2">
        <h2 class="text-center"> </h2>
    </div>
    <h2>Lista de libros que se inscribieron a la pagina </h2>
    <table class="table table-bordered table-striped table-sm">

        <thead class="thead-dark">
            <tr>
                <th>Nombre</th>
                <th>Idioma</th>
                <th>Descripcion</th>
                <th></th>
            </tr>

        </thead>
        <tbody>

            @foreach (Libro libro in Model.Libros)
            {
                <tr>
                    <td class="bi bi-person-standing">
                        @libro.Nombre
                    </td>
                    <td>@libro.Idioma</td>
                    <td>@libro.Descripcion</td>
                    <td class="d-flex d-inline justify-content-center">
                        <form class="mr-2" asp-action="Eliminar" asp-route-Id="@libro.Id" method="post">
                            <button type="submit"> Eliminar</button>
                        </form>

                        <form asp-action="Formulario" method="get">
                            <input class="d-none" asp-for="@libro.Id" />
                            <input class="d-none" asp-for="@libro.Nombre" />
                            <input class="d-none" asp-for="@libro.Idioma" />
                            <input class="d-none" asp-for="@libro.Descripcion" />
                            <button class="mr-2" type="submit"> Editar</button>
                        </form>
                    </td>

                </tr>

            }
        </tbody>
    </table>
</body>
